body {
    text-align: center;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

@font-face {
	font-family: downloadedFont;
	src: url('Motorless Font Family/Motorless-Hammered.ttf');
}

h1 {
	text-transform: uppercase;
	font-family: downloadedFont;
}

canvas {
	margin-top: -3em;
}

