body {
    text-align: center;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

@font-face {
	font-family: downloadedFont;
	src: url('Motorless Font Family/Motorless-Hammered.ttf');
}

h1 {
	text-transform: uppercase;
	font-family: downloadedFont;
}

#section, #canvas {
    display: inline-block;
}

#section {
    float: right;
    overflow: hidden;
}

#canvas {
    overflow: hidden;
}

#canvasId {
    cursor: pointer;
}

canvas {
	margin-top: -3em;
}

#mainBtn {
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: white; 
    color: black; 
    border: 4px solid #008CBA;
    cursor: pointer;
    font-family: downloadedFont;
}

#mainBtn:hover {
    background-color: #008CBA;
    color: white;
}

#characters {
    visibility: hidden;
    width: 300px;
    height: 550px;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: black;
}

.modal-content {
    font-family: downloadedFont;
    font-size: 30px;
    margin: auto;
    width: 100%;
    text-align: center;
    color: yellow;
}

#btn {
    background: red;
    color: #fff;
    border-radius: 4px;
    padding: 10px 35px;
    text-align: center;
    cursor: pointer;
    font-family: downloadedFont;
}

